<ion-view title="Familiekalenderen">
  <ion-content >

      <div class="row">
          <div class="col col-20"></div>
          <div class="col col-80">
              <h4><button class="button ion-chevron-left button-clear" ng-click="calendarControl.prev()"></button>
              {{calendarControl.getTitle()}}
              <button class="button ion-chevron-right button-clear" ng-click="calendarControl.next()"></button></h4>
          </div>
      </div>
    <mwl-calendar
            calendar-events="events"
            calendar-view="calendarView"
            calendar-current-day="calendarDay"
            calendar-control="calendarControl"
            calendar-event-click="eventClicked($event)"
            calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
            calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
            calendar-edit-event-click="eventEdited($event)"
            calendar-delete-event-click="eventDeleted($event)"
            calendar-auto-open="true"
            ></mwl-calendar>
  </ion-content>
</ion-view>