<ion-view view-title="Ny hendelse">
  <ion-content>
    <h1>Ny hendelse</h1>
  </ion-content>
</ion-view>

<ion-view view-title="Ny hendelse">
  <ion-content >
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Starter</span>
        <input type="text" placeholder="Starter" ng-model="event.starts_at">
      </label>
      <label class="item item-input">
        <span class="input-label">Slutter</span>
        <input type="text" placeholder="Slutter" ng-model="event.ends_at">
      </label>
      <label class="item item-input">
        <span class="input-label">Sted</span>
        <input type="text" placeholder="Sted" ng-model="event.location">
      </label>
    </div>
    <div class="padding"></div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Beskrivelse</span>
        <textarea placeholder="Beskrivelse" ng-model="event.description" ></textarea>
      </label>
    </div>
    <button class="button button-full button-balanced">
      Lagre endringer
    </button>
  </ion-content>
</ion-view>